@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');

/* CSS Variables */
:root{
--dark-bg: #1E1E1E;
--primary-color:#FD6F00;
}

/* General Reset */
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General Styling */
a,button{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul,li{
    list-style: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;


   &::-webkit-scrollbar{
      width: 7px;
    }
   &::-webkit-scrollbar-thumb{
      background-color: var(--primary-color);
      border-radius: 5px;
    }
   &::-webkit-scrollbar-track{
      background-color: rgb(202, 202, 209);
      border-radius: 5px;
    }
}

body{
    background-color: var(--dark-bg);
    color: white;
    font-family: "Poppins", sans-serif;
  font-style: normal;
}


header{
    max-width: 1200px;
    margin: auto;
    padding: 5px;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;


        @media (min-width:900px) {
            button.toggle-nav{
                display: none;
                &:hover{
                    background-color: white;
                    display: none;
                }
            }
            
        }

       
        .logo{
            font-family: Yellowtail;
            color: var(--primary-color);
            font-weight: 800;
            font-size: 2.5rem;
            z-index: 100;
            display: flex;gap: 12px;
            span{
                color: white;
                transition: .3s ease-in-out;
                &.responsive {
                    color: var(--primary-color);
                    margin-left: -8px;
                }
            }

        }
        ul.navigation{
            display: flex;
            align-items: center;
            position: relative;
            transition: max-width .4s ease-in-out;
            

            @media (max-width:900px) {
                position: fixed;
                height: 100vh;
                overflow: hidden;
                z-index: 90;
                max-width: 0;
                inset: 0;
                background-color: white;
                color: black;
                flex-direction: column;
                justify-content: center;
                gap: 50px;

                &.responsive{
                max-width: 80%;

                    
                }
                
            }
            li{
                margin-inline: 12px;

               

                a,button{
                    padding: 12px;
                    border-radius: 9px;
                    transition: .5s ease-in-out;
                    
                }
                    a{
                    &:hover{
                        color: rgb(171, 190, 190);
                    }
                    }
                button{
                    background-color: var(--primary-color);
                    outline: 0;
                    border: 0;
                    font-size: 1rem;
                    font-weight: 600;

                    &:hover{
                        background-color: #c7c407;
                    }

                }
            }
        }
    }
}


  

  section{
    padding: 5px;

  }

/* Hero Section */
section.hero{
    max-width: 1200px;
    margin:40px auto 0 auto;
    padding: 5px;

    .hero-wrapper{
        display: grid;
        gap: 30px;
        align-items: center;
        
        grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
        @media (max-width:1024px) {
            &{
                grid-template-columns: 1fr;
            }
            
        }
        
        .desc{
            display: flex;
            flex-direction: column;
            gap: 10px;

            .icons {
                img{
                    /* background-color: var(--primary-color); */
                    background-color: white;
                    border-radius: 9px;
                    padding: 2px;
                    transition: .3s ease-in-out;
                    cursor: pointer;
                    margin-right: 18px;
                    &:hover{
                        background-color: var(--primary-color);
                    }
            
                    }
    
            }

            @media (max-width:1024px) {
                &{
                    justify-self: center;
                    text-align: center;
                }
               
            }

            button{
                    background-color: var(--primary-color);
                    outline: 0;
                    border: 0;
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 12px 44px;
                    border-radius: 9px;
                   transition: .3s ease-in-out;

                    &:hover{
                        background-color: white;
                        color: var(--primary-color);
                    }

                }
                p{
                    max-width: 800px;
                    margin-bottom: 12px;
                
                }
                p:nth-child(1){
                    font-size: 1.2rem;
                    line-height: 1;
                    font-weight: 600;
                    span{
                        color: var(--primary-color);
                        font-weight: 900;
                        font-size: 3rem;
                        @media (max-width:1034px) {
                            &{
                                font-size: 2rem;

                            }
                            
                        }


                    }
                }
        }


        .img{
            text-align: center;
        .img-wrapper{
            box-shadow: 10px 2px 1px 9px var(--primary-color), 30px 2px 1px 9px white;

            @media (max-width:500px) {
                box-shadow: none;
                border: 10px solid var(--primary-color);
                
            }
            background-color: white;
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            
            img{
                border-radius: 50%;
                width: 100%;
            }
           

        }
          

        }
    }
}

/* goals */
.goals{
    margin: 80px auto;
    max-width: 1200px;
    padding: 5px;
    text-align: center;
}
.goals h2{
    margin-bottom: 30px;
}
.goals ul{
    @media (max-width:700px) {
        &{
            text-align: left;
        }
    }
}
.goals ul li{
    margin-bottom:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    @media (max-width:700px) {
        &{
            justify-content: flex-start;
        }
    }

   
}


/* form container */
/* .contact{
    margin-block: 80px;
}
.contact h2{
    text-align: center;
    margin-bottom: 40px;
}
.contact .display {
    display: grid;
    gap: 20px;


   p span{
        background-color: var(--primary-color);
    }
    h3{
    color: var(--primary-color);
    font-size: 30px;

    }
    p{
    margin-bottom: 12px;
    }

    .slack-img{
        display: flex;
        align-items: center;
        margin-top: 20px;
        gap: 12px;
        img{
            background-color: var(--primary-color);
            border-radius: 50%;
        }
    }
}

.contact-wrapper{
    display: grid;
    place-items: center;
    max-width: 1200px;
    padding: 5px;

    margin: auto;
    gap: 50px;
    border: 1px solid red;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    @media (max-width:1024px) {
        &{
            grid-template-columns: 1fr;
        }
        
    }

}
.form-container {
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  max-width: 400px;
  width: 100%;
}

form h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.contact-form button{
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

} */


.project-wrapper{
    margin: 40px auto;
    text-align: center;
}
.grid{
    border: 1px solid gray;
    border-radius: .7rem;
    padding: .7rem;
    display: grid;
    display: none;
    gap: 1rem;
    grid-auto-rows: minmax(120px,auto);
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
  }

  .grid>div{
    border: 1px solid gray;
    display: grid;
    place-items: center;
    padding: .5rem;
    border-radius: .7rem;
    cursor: pointer;

  
  }
  .project{
    max-width: 1200px;
    place-items: center;
    margin: 30px auto;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    cursor: pointer;
    gap: 30px;

    
    &>div>div:nth-child(1){
        position: relative;
        display: block;
        transition: opacity .4s ease-in-out;
        overflow: hidden;
        border-radius: 9px;
        z-index: 3;

          img{
              transition: all .3s ease-in-out;
          }
        &>div{
            position: absolute;
            z-index: 1;
            top: 50%;
            opacity: 0;
            left: 50%;
            background-color: white;
            padding: 5px 10px 0 10px;
            border-radius: 9px;
            color: black;
            transform: translate(-50%,-50%);
            transition: opacity .4s ease-in-out;
        }

        &:hover{
            &>div{
                opacity: 1;
            }
            img{
              transform: scale(1.1);
            }
        }
        &:hover::after{
           bottom: 0;
           opacity: 0.8;
            
        }
    &::after {
        position: absolute;
        transition: .4s ease-in-out;
        width: 100%;
        height: 100%;
        overflow: hidden;
        content: '';
        left: 0;
        right: 0;
        bottom: 100%;
        left: 0;
        border-radius: 9px;
        background-color: black;


    }
}

    @media (max-width:700px) {
        grid-template-columns: 1fr;
        img{
            width: 100%;
        }
    }

  }

 

  footer{

    .hng-links{
        div{
            margin-bottom: 30px;
        }
       border-bottom: 3px solid  black;
        p{
            margin-bottom: 20px;
        }
        
        }
    padding: 12px;
    background-color: var(--primary-color);
    text-align: center;
  }

   
  /* // resume */
  
  .resume{
    max-width: 1200px;
    margin: 150px auto;
  }
  .resume h2{
   text-align: center;
    margin-bottom: 30px;
}
  
  .resume .container{
    display: flex;
    max-height: 700px;
  }
  
  @media(max-width:600px){
    .resume .container{
      flex-direction: column;
      gap: 15px;
    }
  }
  
  .resume .resume-nav{
  position: relative;
  z-index: 1;
  flex: 1;

 
  }
  
  .resume .resume-content{
  position: relative;
  padding: 5px;
  max-height: 450px;
  flex: 3;
    overflow: auto;
  
  }
  .resume-content::-webkit-scrollbar{
    width: 7px;
  }
  .resume-content::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 5px;
  }
  .resume-content::-webkit-scrollbar-track{
    background-color: rgb(202, 202, 209);
    border-radius: 5px;
  }
  
  
  
  .resume-content>div{
   /* border: 1px solid var(--primary-color); */
   box-shadow: 1px 1px 5px 0px var(--primary-color);
   min-height: 440px;  
   margin-bottom: 10px;
   border-radius: 9px;
   padding: 20px;
 
  }

   .content-item .education > div {
  display: flex;
  margin: 30px auto;
  gap: 30px;
}
    .content-item .education > div .school p:nth-child(1) {
  font-weight: 700;
}
  
.content-item .date p {
  display: inline-block;
  background-color: white;
  padding: 5px 7px;
  border-radius: 9px;
  margin-left: auto;
  font-size: 15px;
  color: var(--primary-color);
}

.work>div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  li{
    list-style-type: disc;
    margin-left: 20px;
  }
}

.work>div>div:nth-child(1){
  max-width: 80%;
}


.content-item .skills>div>div {
  display: inline-flex; 
  align-items: center;
  margin-bottom: 50px;
  gap: 10px;
  flex-wrap: wrap;
  span{
    background-color: white;
    cursor: pointer;
    border-radius: 9px;
    color: var(--primary-color);
    padding: 5px 15px;
    transition:  all .3s ease-in-out;
    &:hover{
      background-color: rgb(207, 204, 163);
    }
  }
}

.content-item .qualification{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  &>div{
    cursor: pointer;
  }

  img{
    width: 300px;
    border-radius: 9px;

    @media (max-width:600px) {
      &{
        /* width: 100px; */
        display: block;
      }
      
    }
  }

}
  .resume .resume-nav::after {
  content: '';
  background-color: var(--primary-color);
  z-index: -10;
  position: absolute;
  width: 52px;
  height: 100%;
  top: 0;
  }
  
  .navRef{
    display: flex;
    margin-bottom: 30px;
    /* height: 40px; */
    padding:  15px 9px ;
    font-size: 16px;
    background: transparent;
    border: none;
    align-items: center;
    cursor: pointer;
    gap: 30px;
    width: 100%;
    position: relative;
    z-index: 1;
  
  }
  .navRef .fill{
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    background-color: var(--primary-color);
  border-radius: 50px;
  transition: .5s ease-in-out;
  }
   .navRef .active{
    width: 100%;
    background-color: var(--primary-color);
  
  }
  .title p{
  text-align: center;
  margin: 20px 0;
  color: var(--primary-color);
  }
  

  /* contact */
  .contact h2{
    text-align: center;
    margin-bottom: 30px;
}
  
  .contact-container {
    display: flex;
    max-width: 1200px;
    padding: 20px;
    margin:40px auto;
    border-radius: 9px;
    box-shadow: 1px 1px 5px var(--primary-color);
  }
  .contact-container .contact-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-container .contact-left .image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid white;
    background-color: var(--primary-color);
  }
  .contact-container .contact-left .image img {
    width: 100%;
    border-radius: 50%;
  }
  .contact-container .contact-left .icon {
    display: flex;
    cursor: pointer;
    i{
      color: white;
    }
  }
  .contact-container .contact-left .icon span {
    font-size: 22px;
    margin: 10px;
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .contact-container .contact-left .icon span a {
    color: black;
  }
  .contact-container .contact-left .icon span:hover {
    border: 1px solid rgb(155, 132, 132);
  }
  .contact-container .contact-left p {
    font-weight: 700;
  }
  .contact-container .contact-left > span {
    font-weight: 600;
  }
  .contact-container .contact-right {
    flex: 1;
  }
  .contact-container .contact-right h4 {
    text-align: center;
    margin: 10px 0;
  }
  .contact-container .contact-right .email-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .contact-container .contact-right .email-container input,
  .contact-container .contact-right .email-container textarea {
    display: block;
    width: 100%;
    outline: 0;
    border: 1px solid rgba(74, 92, 91, 0.5);
  }
  .contact-container .contact-right .email-container input::placeholder,
  .contact-container .contact-right .email-container textarea::placeholder {
    font-weight: 600;
    color: black;
  }
  .contact-container .contact-right .email-container input {
    padding: 15px;
    margin: 10px 0;
    border-radius: 9px;
  }
  .contact-container .contact-right .email-container textarea {
    height: 150px;
    padding: 15px;
    border-radius: 9px;

  }
  .contact-container .contact-right .email-container button {
    padding: 15px;
    font-size: 16px;
    border-radius: 9px;

    margin: 10px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    outline: 0;
    border: 0;
    gap: 6px;
    color: white;
    cursor: pointer;
    i{
      font-size: 18px;
    }
  }
  .contact-container .contact-right .email-container button span {
    font-size: 23px;
  }
  
  @media screen and (max-width: 800px) {
    .contact-container {
      flex-direction: column;
      width: 100%;
    }
  }